/*
Color scheme
base color: #1A1A1D - black ish
color one: #4E4E50 - grey
color two: #6F2232 - deep muted red
color three: #950740 - red and purple mixed
color four: #C3073F - red
color text: #E7E6E6 - white ish

*/

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {    
    scroll-behavior: smooth; 
}

body {
    background-color: #1A1A1D;
    margin: 0;
}

footer {
    margin-left: 2rem;
}

.mainContainer {
    margin-left: 2rem;
    min-height: 100%;
    background-image: url("portfolioBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.textContainer {
    max-width: 40rem;
}

.linkContainer {
    position: fixed;
    padding-top: 4rem;
    right: 0;
}

.recentProjects {
    padding-top: 4rem;
    min-height: 100%;    
    background-color: #E7E6E6;
}

.projectContainer{
    text-align: center;
}

.about {
    padding-top: 4rem;
    min-height: 100%;
    background-color: #1A1A1D;
}

.spacer {
    padding-top: 4rem;
}

.blackText {
    color: #1A1A1D;
    font-family: sans-serif;
}

.whiteText {
    color: #E7E6E6;    
    font-family: sans-serif;
}

.aboutContainer{
    text-align: center;
}

.contact {
    min-height: 100%;
}

.contactContainer{
    min-height: 75%;
    text-align: center;
    background-color: #E7E6E6;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
}

h1 {
    color: #E7E6E6;
    font-family: sans-serif;
}

h2 {
    color: #E7E6E6;
    font-family: sans-serif;
}

h3 {
    color: #E7E6E6;
    font-family: sans-serif;
}

.highlight {
    color: #C3073F;
    transition: 0.5s;  
}

.highlightTwo {
    color: #6F2232;
    transition: 0.5s;  
}

.links {
    margin-right: 4rem;    
    padding-left: 0rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #C3073F;
    font-family: sans-serif;
    font-weight: 700;
}
.links:hover {
    text-decoration: underline;
}

.nextArrowOne {
    bottom: 2rem;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: auto;
}

.nextArrowText {
    color: #E7E6E6;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.contactIcons {
    text-align: center;
    color: #E7E6E6;
    font-family: sans-serif;
    min-height: 25%;
}