/*
Color scheme
base color: #1A1A1D - black ish
color one: #4E4E50 - grey
color two: #6F2232 - deep muted red
color three: #950740 - red and purple mixed
color four: #C3073F - red
color text: #E7E6E6 - white ish

*/

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {    
    scroll-behavior: smooth; 
}

body {
    background-color: #1A1A1D;
    margin: 0;
}

footer {
    margin-left: 2rem;
}

.mainContainer {
    margin-left: 2rem;
    min-height: 100%;
    background-image: url("portfolioBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.textContainer {
    max-width: 40rem;
    font-weight: 300;
}

.linkContainer {
    position: fixed;
    padding-top: 4rem;
    right: 0;
    z-index: 33;
}

.recentProjects {
    padding-top: 4rem;
    min-height: 100%;    
    background-color: #E7E6E6;
}

.projectContainer{
    text-align: center;
}
.projectBox {
    height: 15rem;
    width: 30rem;
    background-color: #1A1A1D;
    margin-right: 5%;
    text-decoration: none;
}
.projectBoxFirst {
    height: 15rem;
    width: 30rem;
    background-color: #1A1A1D;
    margin-right: 5%;
    margin-left: 5%;
    text-decoration: none;
}

.projectTitle {
    color: #E7E6E6;
    margin-left: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.projectPicture {
    height: 82%;
    background-color: #6F2232;
}

.about {
    padding-top: 4rem;
    min-height: 100%;
    background-color: #1A1A1D;
}

.spacer {
    padding-top: 4rem;
}

.blackText {
    color: #1A1A1D;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.whiteText {
    color: #E7E6E6;    
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.subTitles {
    font-size: 4rem;
}

.textWidth {
    max-width: 50%;
    text-align: left;
    margin-left: 2rem;
}

.aboutContact {
    max-width: 50%;
    margin: auto;
    text-align: left;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.profilePicture {
    object-fit: cover;
    max-width: 20rem;
    border-radius: 50%;
    border: 5px solid #C3073F;
    margin-left: 1rem;
}

.aboutContainer{
    text-align: center;
}

.contact {
    min-height: 100%;
}

.contactContainer{
    min-height: 75%;
    text-align: center;
    background-color: #E7E6E6;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
}

h1 {
    color: #E7E6E6;
    font-family: 'Oxygen', sans-serif;
}

h2 {
    color: #E7E6E6;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

h3 {
    color: #E7E6E6;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.highlight {
    color: #C3073F;
    transition: 0.5s;  
}

.highlightTwo {
    color: #6F2232;
    transition: 0.5s;  
}

.links {
    margin-right: 4rem;    
    padding-left: 0rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #C3073F;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
.links:hover {
    text-decoration: underline;
}

.mailLink {
    text-decoration: none;
    color: #C3073F;
    cursor: pointer;
}

.nextArrowOne {
    bottom: 0;
    position: absolute;
    left: 50%; 
    margin: auto;
}
.nextArrowOne span {
    position: absolute;
    left: 50%;
}

.nextArrowTwo {
    position: relative;
    margin: auto;
}
.nextArrowTwo span {
    position: absolute;
    left: 50%; 
}

.nextArrowText {
    color: #E7E6E6;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.contactIcons {
    font-size: 2rem;
    color: #E7E6E6;
    text-decoration: none;
    margin-right: 1rem;
}
.contactIcons:hover {
    font-size: 2rem;
    color: #C3073F;
    text-decoration: none;
}

.iconPicture {
    object-fit: cover;
    max-width: 3rem;
    border-radius: 50%;
}

.arrowWidth {
    font-size: 3rem;
    color: #E7E6E6;
}
.arrowWidth:hover {
    font-size: 3rem;
    color: #C3073F;
}