.imageContainer {
    margin-top: 1rem;
}

div.projectImage {
    margin: 1rem;
    background-color: #1A1A1D;
    justify-content: center;
    float: left;
    display: flex;
    flex-wrap: wrap;
    color: #E7E6E6;    
    margin-top: 1rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
  }
    
  div.projectImage img {
    height: auto;    
    object-fit: contain;
    height: 600px;
  }